<% unless @rows.nil? %>
  <table class="table is-bordered is-striped is-narrow is-hoverable">
    <thead>
      <% @column_name.each do |cn| %>
        <td><%= cn %></td>
      <% end %>
    </thead>
    <% @rows.each do |row| %>
    <tr>
      <% row.each do |field| %>
        <td><%= field %></td>
      <% end %>
    <tr>
    <% end %>
  </table>
<% else %>
<div class="notification is-danger">
  <button class="delete"></button>
  SQL文が間違っています。
</div>
<% end %>

<form action="/freesql" method="post">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
        <input class="input" type="text" placeholder="SQL文入力" name="sqlquery">
      </div>
      <div class="field">
        <p class="control">
          <input type="submit" value="SQL実行" class="button is-primary">
      </div>
    </div>
  </div>
</form>

