<table class="table is-bordered is-striped is-narrow is-hoverable">
  <thead>
  <% @column_name.each do |cn| %>
    <td><%= cn %></td>
    <% end %>
  </thead>
  <% @rows.each do |row| %>
  <tr>
  <% row.each do |field| %>
      <td><%= field %></td>
    <% end %>
  <tr>
  <% end %>
  
</table>