<!DOCTYPE html>
<html>
  <head>
    <title>SQL練習アプリ SQLPrac</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation" style="margin-bottom: 30px;">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="images/log.png" width="145" height="45">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Top
          </a>
          <a class="navbar-item">
            FreeSQLPractice
	  </a>
	  <a class="navbar-item">
            Problems
　         </a>
          
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
