html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.top-problems {
    background-color: #d5848b;
    height: 100%;
    width: 50%;
    float: left;
}

.top-freesql {
    background-color: #c7ddae;
    height: 100%;
    width: 50%;
    float: left;
}

.problem-statement {
    width: 50%;
    float: left
}

.result {
    display: table;
    border-collapse: separate;
    border-spacing: 30px 0;
    padding-bottom: 50px;

}

.problem {
    background-color: black;
    width: 700px;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;
    border: solid 5px;
    border-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.problem:hover {
    transition: all .3s;
    transform: translate(20px,0px);
  
}

.problem > a {
    display: block;
    color: white;
}

.answer-result {
    display: table-cell;
    padding: 20px;
    border: solid;
    position: relative;
}

.player-result {
    display: table-cell;
    padding: 20px;
    border: solid;
    position: relative;
}

.answer-result-title {
    position: absolute;
    top: -30px;
    
}

.player-result-title {
    position: absolute;
        top: -30px;
}

.problem-title {
    margin-top: 30px;
    margin-bottom: 60px;
    border-bottom: solid;
    width: 60%;
    font-size: 30px;
    font-weight: bold;
